@charset "utf-8";
@import "header_sub";
@import "footer_sub";


.content {
    width: 100%;
    .sub_visual{
        width: 100%;
        height: 300px;
    }
    
    .inner{
        width: 1180px;
        
        margin: 0 auto;
    }
}